@font-face {
  font-family: Gilroy;
  src: url(/static/fonts/Gilroy/Gilroy-Bold-033454e1d410fb5dd437ae5a326e6f56.eot);
  src: url(/static/fonts/Gilroy/Gilroy-Bold-033454e1d410fb5dd437ae5a326e6f56.eot?#iefix) format("embedded-opentype"),
    url(/static/fonts/Gilroy/Gilroy-Bold-38026626932431fe477ebb1be40350db.woff) format("woff"),
    url(/static/fonts/Gilroy/Gilroy-Bold-b498c2abcd35b036cf201dab0027c340.ttf) format("truetype");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Gilroy;
  src: url(/static/fonts/Gilroy/Gilroy-Semibold-013c18d9913d18592e5d7e02b55ef79c.eot);
  src: url(/static/fonts/Gilroy/Gilroy-Semibold-013c18d9913d18592e5d7e02b55ef79c.eot?#iefix) format("embedded-opentype"),
    url(/static/fonts/Gilroy/Gilroy-Semibold-fe71175b4913bad5917aad829f644a51.woff) format("woff"),
    url(/static/fonts/Gilroy/Gilroy-Semibold-d7b899f84831db29a530557735a7c80e.ttf) format("truetype");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: Gilroy;
  src: url(/static/fonts/Gilroy/Gilroy-Medium-834a272d150ddac83c13cc976b5dde7b.eot);
  src: url(/static/fonts/Gilroy/Gilroy-Medium-834a272d150ddac83c13cc976b5dde7b.eot?#iefix) format("embedded-opentype"),
    url(/static/fonts/Gilroy/Gilroy-Medium-2e59fa5670d637abdf691414b8b59c4e.woff) format("woff"),
    url(/static/fonts/Gilroy/Gilroy-Medium-9f1f4f472c40f21008bb657ae0010e0e.ttf) format("truetype");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: Gilroy;
  src: url(/static/fonts/Gilroy/Gilroy-Regular-5b8320974b4ab1c1d58f3e0be13cc87e.eot);
  src: url(/static/fonts/Gilroy/Gilroy-Regular-5b8320974b4ab1c1d58f3e0be13cc87e.eot?#iefix) format("embedded-opentype"),
    url(/static/fonts/Gilroy/Gilroy-Regular-308c0955b374b0a52106305ea7371be9.woff) format("woff"),
    url(/static/fonts/Gilroy/Gilroy-Regular-8268479e7c63bf8c3e731ecca53b3d66.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Gilroy;
  src: url(/static/fonts/Gilroy/Gilroy-Light-cae27ab3d2cd3c0087c6d57ac25a8e21.eot);
  src: url(/static/fonts/Gilroy/Gilroy-Light-cae27ab3d2cd3c0087c6d57ac25a8e21.eot?#iefix) format("embedded-opentype"),
    url(/static/fonts/Gilroy/Gilroy-Light-a0c3e2cdf86952c48aa8deff4146b022.woff) format("woff"),
    url(/static/fonts/Gilroy/Gilroy-Light-6808347bd7b3699b1a3652dcf03c1623.ttf) format("truetype");
  font-weight: 300;
  font-style: normal
}

body {
  font-family: Gilroy, sans-serif;
  font-weight: 500;
  color: #141A2C;
}

/* BS buttons redefinition */

.btn-primary {
  background-color: #FF8A29;
  border-color: #FF8A29;
}

.btn-primary:hover {
  background-color: #E8581A;
  border-color: #E8581A;
}

.btn-primary:focus, .btn-secondary.focus {
  background-color: #E8581A;
  border-color: #E8581A;
  box-shadow: 0 0 0 0.2rem rgba(255, 138, 41, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle, .btn-secondary.disabled, .btn-secondary:disabled {
  background-color: #FF8A29;
  border-color: #FF8A29;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  background-color: #FF8A29;
  box-shadow: 0 0 0 0.2rem rgba(255, 138, 41, 0.5);
}

.btn-secondary {
  background-color: #141A2C;
  border-color: #141A2C;
}

.btn-secondary:hover {
  background-color: #1B2F42;
  border-color: #1B2F42;
}

.btn-secondary:focus, .btn-secondary.focus {
  background-color: #1B2F42;
  border-color: #1B2F42;
  box-shadow: 0 0 0 0.2rem rgba(27, 47, 66, 0.5);
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle, .btn-secondary.disabled, .btn-secondary:disabled {
  background-color: #1B2F42;
  border-color: #1B2F42;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  background-color: #141A2C;
  box-shadow: 0 0 0 0.2rem rgba(27, 47, 66, 0.5);
}


.bg-dark {
  background-color: #141A2C !important;
}

.center {
  display: block !important;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

a.disabled {
  pointer-events: none;
}

/* TODO: remove that class */
.text_i {
  padding-right: 5px;
}

.warning {
  color: #ffc107;
}

#total-block {
  background-color: #141A2C;
  color: #FFFFFF;
  min-height: 50px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  left: 0;
}

.total-block-data {
  text-align: center;
}

.requirement-header {
  width: 100%;
  height: auto;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 12px 20px;
}

.requirement-header-text {
  width: content-min;
  margin-bottom: 0;
  margin-top: .150rem;
}

.requirement-body {
  border: 1px solid lightgrey;
}

.pills-warning {
  background-color: #FFAF00 !important;
  color: #FFFFFF !important;
}

.total-row {
  height: 50px;
  line-height: 50px;
}

.fa-control {
  cursor: pointer;
}

.whitespace-25 {
  width: 100%;
  height: 25px;
}

.whitespace-50 {
  width: 100%;
  height: 50px;
}

.btn-link-delete, .cross {
  color:  #FF401C !important;
}

#header {
  width: 100%;
  height: 50px;
}

#logout {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
