{% block flashed_messages %}
<div class="container">
{% for category, msg in get_flashed_messages(with_categories=true) %}
  <div class="alert alert-{{ category }}">{{ msg }}</div>
{% endfor %}
</div>
{% endblock %}
