{% extends 'base.html' %}
{% block title %}SharxDC - Добавить компонент в заказ{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<h2 style="display: inline;">Добавить оборудование в решение #{{ str_order }}</h2>
<a style="float: right;" href="/order/{{ order_id }}" class="mt-1">Вернуться к заказу</a>
<div class="row">
  <div class="col-sm-3">
    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
      {% for category in categories %}
      <a class="nav-link" id="v-pills-category-tab-{{ category.replace(' ', '-') }}" data-toggle="pill" onclick="deactivate_pills(this);" href="#v-pills-{{ category.replace(' ', '-') }}" role="tab" aria-controls="v-pills-{{ category.replace(' ', '-') }}" aria-selected="false">{{ category }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="col-sm-3">
    <div class="tab-content">
      {% for category in categories %}
      <div class="tab-pane fade" id="v-pills-{{ category.replace(' ', '-') }}" role="tabpanel" aria-labelledby="v-pills-equipment-tab-{{ category.replace(' ', '-') }}">
        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
          {% for equip in equipment[category] %}
          <a class="nav-link" id="v-pills-equipment-tab-{{ category.replace(' ', '-') }}-{{ loop.index }}" data-toggle="pill" href="#v-pills-equipment-{{ category.replace(' ', '-') }}-{{ loop.index }}" role="tab" aria-controls="v-pills-equipment-{{ category.replace(' ', '-') }}-{{ loop.index }}" aria-selected="false">{{ equip }}</a>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-sm-6">
    {% for category in categories %}
    <div class="tab-content">
      {% for equip in equipment[category] %}
      <div class="tab-pane fade" id="v-pills-equipment-{{ category.replace(' ', '-') }}-{{ loop.index }}" role="tabpanel" aria-labelledby="v-pills-equipment-tab-{{ category.replace(' ', '-') }}-{{ loop.index }}">
        <!-- equipment position -->
        <h4>Требования:</h4>
        {% for requirement in equipment[category][equip]['requirements'] %}
        <div class="row">
          <div class="col-sm-3">
            {{ requirement }}
          </div>
          <div class="col-sm-2">
            Макс. {{ equipment[category][equip]['requirements'][requirement]['max'] }} шт.
          </div>
          <div class="col-sm-7">
            <ul>
            {% for filter in equipment[category][equip]['requirements'][requirement]['filters'] %}
            <li>{{ filter['component_option'] }} {% if filter['operator'] == 'less_eq' %}&#10877;{% elif filter['operator'] == 'more_eq' %}&#10878;{% else %}&#61;{% endif %} <b>{{ filter['value'] }}</b> {{ filter['dimension'] }}</li>
            {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
        <div class="center">
          <button type="button" class="btn btn-secondary btn-add-eq" id="btn-add-eq-{{ category.replace(' ', '-') }}-{{ equipment[category][equip]['id'] }}" onclick="add(this, '{{ category.replace(' ', '-') }}', '{{ equipment[category][equip]['id'] }}');">Добавить</button>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}


{% block script %}
{% include 'blocks/cookie.html' %}
<script type="text/javascript">

  var prev_pill;

  $(document).ready(function() {
    var order = getCookie('order', json=true);
    $('.btn-add-eq').each(function(ind, el) {
      var id = el.id.split('-').slice(-1)[0];
      var category = el.id.split('-')[3];
      if (category in order) {
        if (id in order[category]) deactivate_button(el);
      }
    });
  });

  function deactivate_pills(pill) {
    if (prev_pill !== undefined) {
     $($(prev_pill).attr('href')).removeClass('active show');
     var category = $(prev_pill).attr('id').split('-').slice(4).join('-');
     $('a[id*="' + category + '"]').each( function (ind, e) {
       if (/[0-9]/.test(e.id)) {
         $(e).removeClass('active show');
         $($(e).attr('href')).removeClass('active show');
       }
     });
    }
    prev_pill = pill;
  }
/*
  $('[id^="v-pills-equipment-tab-"]').click( function() {
    var el = document.getElementById($(this).attr('aria-controls'));
    el.classList.add('active');
    el.classList.add('show');
  });*/

  function add(button, category, equip_id) {
    var order = getCookie('order', json=true);
    category = category.split('-').join(' ')
    if (order[category] === undefined) order[category] = {};
    order[category][equip_id] = {
      'count': 1,
      'id': equip_id,
      'components': {}
    };

    deleteCookie('order', { path: '/' });
    setCookie('order', order);
    setCookie('changed', true);
    deactivate_button(button);
  }

  function deactivate_button(button) {
    $(button).attr('disabled', true);
    $(button).text('Добавлено');
    $(button).removeClass('btn-secondary');
    $(button).addClass('btn-success');
  }
</script>
{% endblock %}
