<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}SharxDC Конфигуратор{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/lib/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
  {% block style %}{% endblock %}
</head>

<body>
  {{ fontawesome_html() }}
  <div id="header">
  {% block nav %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="navbar">
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='images/white-130_60.png') }}" width="100" alt="SharxDC">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-toggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          {% if session['role'] == 'employee' %}
          <li class="nav-item">
            <a class="nav-link nav-main" href="/component_manager">Компоненты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-main" href="/equipment_manager">Оборудование</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-main" href="/order_manager">Решения</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-main" href="/settings">Настройки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-main" href="/user_manager">Пользователи</a>
          </li>
          {% endif %}
          </ul>
          {% if 'username' in session %}
          <ul class="nav navbar-nav navbar-right" style="margin-right: 50px;">
          <li class="nav-item">
            <div class="dropdown">
            <a class="btn btn-link dropdown-toggle" style="color: rgba(255,255,255,.5); font-size: 1.1em;" href="#" role="button" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-circle text_i" aria-hidden="true"></i>{{ session['username'] }}
            </a>
            <div class="dropdown-menu" aria-labelledby="user-dropdown">
              <a class="dropdown-item" href="/edit_user/{{ session['user_id'] }}">Редактировать</a>
              <a class="dropdown-item" href="/logout">Выйти</a>
            </div>
          </div>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
  {% endblock %}
  </div>
  <div class="whitespace-50"></div>
  <div class="container-fluid">
    {% block content %}
    {% endblock %}
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery-3.4.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/popper.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
  {% block script %}
  {% endblock %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
