{% extends 'base.html' %}

{% block title %}SharxDC - Менеджер компонентов{% endblock %}

{% block style %}
<style>
  .add-component-options-form-row {
    padding: 5px 0;
  }
</style>
{% endblock %}

{% block content %}
{% include 'blocks/flashed_messages.html' %}
<div class="row">
<div class="col-md-2">
  <div class="list-group">
    {% for category in component_categories %}
    <a href="/component_manager/{{ category }}" class="selector list-group-item list-group-item-action {% if category == selected_category %}active{% endif %}">{{ category }}</a>
    {% endfor %}
  </div>
</div>
<div class="col-md-10-">
<div class="container">
  {% if selected_category != 'None' %}<button type="button" data-target="#edit_component_category_modal" onclick="option_inputs_count = {{ category_options|length }};" data-toggle="modal" role="dialog" class="btn btn-link"><i class="fas fa-edit fa-control text_i" aria-hidden="true"></i>Изменить свойства типа</button>{% endif %}
  {% if selected_category != 'None' %}<button type="button" class="btn btn-link btn-link-delete" onclick="delete_component_category()"><i class="fa fa-minus-circle text_i" aria-hidden="true"></i>Удалить данный тип...</button>{% endif %}
  <button type="button" style="display: inline;" onclick="option_inputs_count = 0;" class="btn btn-link" data-toggle="modal" data-target="#add_component_category_modal"><i class="fa fa-plus-circle text_i" aria-hidden="true"></i>Добавить тип компонента...</button>

<!-- Modals -->
  {% if selected_category != 'None' %}
  <!-- edit component category modal -->
  <div class="modal fade" id="edit_component_category_modal" tabindex="-1" role="dialog" aria-labelledby="edit_component_category_modal_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit_component_category_modal_title">Изменить свойства типа компонентов</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="put">
          <input type="hidden" name="changed" value="name">
          <input type="text" id="new_category_name" onchange="form_by_ajax(this.form, '/component_category/{{ selected_category }}')" class="form-control" style="font-size: 1.25rem; font-weight: 600; color: #222222;" name="category" value="{{ selected_category }}">
        </form>
        <button type="button" onclick="add_option_inputs(this.nextElementSibling, true)" class="btn btn-link"><i class="fas fa-plus-square text_i"></i>Добавить свойство...</button>
        <!-- option inputs below -->
        <div id="options">
        {% for option in category_options %}
          <div class="row add-component-options-form-row">
            <div class="col-6">
              <input required value="{{ option }}" onfocus="this.oldvalue = this.value;" style="width: 100%" class="form-control component-options-form-option" type="text" name="option_{{ loop.index-1 }}" onchange="edit_component_option(this); this.oldvalue = this.value;" placeholder="Название свойства">
            </div>
            <div class="col-5">
              <input required value="{{ category_options[option] }}" onfocus="this.oldvalue = this.value;" class="form-control component-options-form-dimension" style="width: 100%" type="text" onchange="edit_component_option(this); this.oldvalue = this.value;" name="option_dimension_{{ loop.index-1 }}" placeholder="Размерность">
            </div>
              <div class="col-1">
                <i class="fa fa-times fa-control mt-2 cross" id="option_delete_{{ loop.index-1 }}" class="component-options-form-delete btn-link-delete" title="Удалить свойство" onclick="delete_edit_component_option(this)" aria-hidden="true"></i>
              </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="location.href = '/component_manager/' + $('#new_category_name').val()">Сохранить изменения</button>
      </div>
    </div>
  </div>
  </div>
  {% endif %}

  <!-- Add component category modal -->
  <div class="modal fade" id="add_component_category_modal" tabindex="-1" role="dialog" aria-labelledby="add_component_category_modal_title" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add_component_category_modal_title">Добавить тип компонентов</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/component_category" id="add-component-category-form" method="post">
            <div class="form-group">
              <label for="new-category">Название типа компонента</label>
              <input type="text" class="form-control" id="new-category" name="category" placeholder="Название типа">
            </div>
            <button type="button" onclick="add_option_inputs(this.nextElementSibling)" class="btn btn-link"><i class="fas fa-plus-square text_i"></i>Добавить свойство...</button>
            <!-- option inputs container below -->
            <div></div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="submit" form="add-component-category-form" class="btn btn-primary">Добавить</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- main block -->
<div class="container">
    {% if selected_category != 'None' %}<button type="button" class="btn btn-link" data-toggle="modal" data-target="#add_component_modal"><i class="fa fa-plus-circle text_i" aria-hidden="true"></i>Добавить компонент...</button>{% endif %}
    <!-- Modal -->
    <div class="modal fade" id="add_component_modal" tabindex="-1" role="dialog" aria-labelledby="add_component_modal_title" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="add_compoennt_modal_title">Добавить компонент</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="add_component_form" action="/component" method="post">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="add_component-category">Категория компонента</label>
                    <select id="add_component-category" class="form-control" name="category">
                      {% for category in component_categories %}
                      <option {% if category == selected_category %} selected {% endif %} value="{{ category }}">{{ category }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="add_component-name">Название компонента</label>
                    <input required id="add_component-name" class="form-control" type="text" name="name" placeholder="Название">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="add_component-part-number">Part Number</label>
                <input required id="add_component-part-number" class="form-control" type="text" name="part_number" placeholder="Part No.">
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="add_component-cost">Закупочная цена</label><br>
                    <input required id="add_component-cost" class="form-control money-input" type="number" step="0.01" min="0" name="cost" placeholder="$$$">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="add_component-price">Цена продажи</label><br>
                    <input required id="add_component-price" class="form-control money-input" type="number" step="0.01" name="price" min="0" placeholder="$$$">
                  </div>
                </div>
              </div>
              <div class="form-check">
                <input class="form-check-input" name="vat" type="checkbox" id="add_component-vat">
                <label class="form-check-label" for="add_component-vat">Наличие НДС</label>
              </div>
              <div class="form-group">
                <label for="add_component-description">Описание компонента</label>
                <textarea class="form-control" id="add_component-description" name="description" rows="3"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="submit" form="add_component_form" class="btn btn-primary">Добавить</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-sm-3">
      <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
        {% for component in components %}
        <a class="nav-link nav-tabs" id="v-pills-{{ component.component_id }}-tab" {% if component_warning(component) %} style="background-color: #FFBD0F; color: #000000;" {% endif %} data-toggle="pill" href="#v-pills-{{ component.component_id }}" role="tab" aria-controls="v-pills-{{ component.component_id }}" aria-selected="false">{{ component.name }}{% if component_warning(component) %}<i class="fa fa-exclamation-triangle mt-1" style="color: #856404; float: right;" aria-hidden="true"></i>{% endif %}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-sm-9">
      <div class="tab-content">
        {% for component in components %}
        <div class="alert alert-danger" id="update-component-alert" role="alert" style="display: none;">
          Произошла ошибка при загрузке данных. Перезагрузите страницу.
        </div>
        <div class="tab-pane fade" id="v-pills-{{ component.component_id }}" role="tabpanel" aria-labelledby="v-pills-{{ component.component_id }}-tab">
          <div class="row">
            <div class="col-md-7">
              <h4><span id="component-header-name-{{ component.component_id }}">{{ component.name }}</span> <span id="component-header-part-number-{{ component.component_id }}">({{ component.part_number }})</span></h4>
            </div>
            <div class="col-md-5">
              <button type="button" onclick="delete_component({{ component.component_id }});" class="btn btn-danger" style="float: right;">Удалить компонент</button>
            </div>
          </div>
          <form class="component-update-form" id="component-update-form-{{ component.component_id }}" method="put">
            <input type="hidden" name="component_id" value="{{ component.component_id }}">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="update_component_{{ component.component_id }}-name">Название компонента</label>
                  <input required id="update_component_{{ component.component_id }}-name" class="form-control" type="text" name="name" placeholder="Название" value="{{ component.name }}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="update_component_{{ component.component_id }}-part-number">Part Number</label>
                  <input required id="update_component_{{ component.component_id }}-part-number" class="form-control" type="text" name="part_number" placeholder="Part No." value="{{ component.part_number }}">
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="update_component_{{ component.component_id }}-cost">Закупочная цена</label><br>
                  <input required id="update_component_{{ component.component_id }}-cost" class="form-control money-input" type="number" step="0.01" min="0" name="cost" placeholder="$$$" value="{{ component.cost }}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="update_component_{{ component.component_id }}-price">Цена продажи</label><br>
                  <input required id="update_component_{{ component.component_id }}-price" class="form-control money-input" type="number" step="0.01" name="price" min="0" placeholder="$$$" value="{{ component.price }}">
                </div>
              </div>
            </div>
            <div class="form-check form-check-inline">
              <input {% if component.vat %} checked {% endif %} class="form-check-input" name="vat" type="checkbox" id="update_component_{{ component.component_id }}-vat">
              <label class="form-check-label" for="update_component_{{ component.component_id }}-vat">Наличие НДС</label>
            </div>
            <div class="form-check form-check-inline">
              <input {% if component.end_of_sale %} checked {% endif %} class="form-check-input" name="end_of_sale" type="checkbox" id="update_component_{{ component.component_id }}-end-of-sale">
              <label class="form-check-label" for="update_component_{{ component.component_id }}-end-of-sale">Окончание продаж</label>
            </div>
            <div class="form-group">
              <label for="update_component_{{ component.component_id }}-description">Описание компонента</label>
              <textarea class="form-control" id="update_component_{{ component.component_id }}-description" name="description" rows="3">{{ component.description }}</textarea>
            </div>
          </form>
          {% for option in component.meta %}
          <form class="component-update-form" id="option-update-form-{{ option }}-{{ component.component_id }}" method="put">
            <input type="hidden" form="option-update-form-{{ option }}-{{ component.component_id }}" name="component_id" class="option-update-{{ component.component_id }}" value="{{ component.component_id }}">
          </form>
          {% endfor %}
          <table class="table">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col">Свойство</th>
                  <th scope="col">Значение</th>
                  <th scope="col">Размерность</th>
                </tr>
              </thead>
              <tbody>
                {% for option in component.meta %}
                  <tr>
                     <td style="text-align: right;"><input readonly type="text" form="option-update-form-{{ option }}-{{ component.component_id }}" class="form-control-plaintext option-update-{{ component.component_id }}" name="option" value="{{ option }}"></td>
                     <td><input type="text" form="option-update-form-{{ option }}-{{ component.component_id }}" class="form-control meta-value option-update-{{ component.component_id }}" name="value" value="{{ component.meta[option]['value'] }}"></td>
                     <td><input readonly type="text" form="option-update-form-{{ option }}-{{ component.component_id }}" class="form-control-plaintext" name="dimension" value="{{ component.meta[option]['dimension'] }}"></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">

  var option_inputs_count = 0;

  $( document ).ready(function() {
    if (!sessionStorage.chosen_id) {
      sessionStorage.chosen_id = $('.nav-tabs')[0].id.split('-')[2];
    }
    var e = $('#v-pills-' + sessionStorage.chosen_id + '-tab');
    $(e).click();
    e.attr('aria-selected', 'true');

    $('input[form^="option-update-form"]').each( function() {
      if (this.name == 'dimension') return;
      if (!this.value) $('#v-pills-' + this.form.id.split('-').slice(-1)[0] + '-tab').addClass('pills-warning');
    });
    $('.meta-value').each(check_meta_type);
  });

  $('.meta-value').on('keyup', check_meta_type);

  function check_meta_type(ind, e) {
    var obj = (e === undefined) ? ind.target : e;
    var val = new String(obj.value);
    var operator_selector = obj.parentNode.previousElementSibling.firstElementChild;
    // test if not digit
    if (val == '' || (val.length > 0 && !/^\d+$/.test(val[0]))) {
      obj.setAttribute('type', 'text');
      obj.removeAttribute('step');
      obj.removeAttribute('min');
    }
    else {
      obj.setAttribute('type', 'number');
      obj.setAttribute('step', 'any');
      obj.setAttribute('min', '0');
    }
  }

  function edit_component_option(e) {
    if (!e.value) return;
    var form = document.createElement("form");
    form.setAttribute('method', 'put');

    var el = document.createElement("input");
    el.name = "changed";
    var changed = (e.name.indexOf('dimension') == -1) ? 'option_name' : 'dimension';
    el.value = changed;
    form.appendChild(el);

    var el = document.createElement("input");
    el.name = "oldvalue";
    el.value = e.oldvalue;
    form.appendChild(el);

    var el = document.createElement("input");
    el.name = "newvalue";
    el.value = e.value;
    form.appendChild(el);

    if (changed == 'dimension') {
      // find an option name
      var el = document.createElement("input");
      el.name = "option";
      el.value = $('input[name="option_' + e.name.split('_').slice(-1)[0] + '"]').val();
      form.appendChild(el);
    }

    form_by_ajax(form, '/component_category/{{ selected_category }}');
  }

  function add_option_inputs(container, edit) {
    var add = (edit === undefined) ? '' : 'edit_';
    var disable = (edit === undefined) ? '' : 'disabled';
    var onchange = (edit === undefined) ? '' : 'onchange="edit_component_option(this, true); this.oldvalue = this.value; this.parentElement.nextElementSibling.firstElementChild.disabled = false;"';
    var onchange_dimension = (edit === undefined) ? '' : 'onchange="edit_component_option(this, true); this.oldvalue = this.value;"';
    var onfocus = (edit === undefined) ? '' : 'onfocus="this.oldvalue = this.value;"'

    if (option_inputs_count == {{ MAX_COMPONENT_OPTIONS_COUNT }} + 1) return;
    else if (option_inputs_count == {{ MAX_COMPONENT_OPTIONS_COUNT }}) $(container).prepend('<div id="max-options-alert" class="alert alert-warning" role="alert">Достигнуто максимальное количество свойств</div>');
    else $(container).append('<div class="row add-component-options-form-row"><div class="col-6"><input ' + onchange + ' ' + onfocus + ' required style="width: 100%" class="form-control component-options-form-option" type="text" name="option_' + option_inputs_count + '" placeholder="Название свойства"></div><div class="col-5"><input class="form-control component-options-form-dimension" ' + disable + ' style="width: 100%" ' + onchange_dimension + ' type="text" name="option_dimension_' + option_inputs_count + '" placeholder="Размерность"></div><div class="col-1"><i class="fa fa-times fa-control mt-2 component-options-form-delete cross" id="option_delete_' + option_inputs_count + '" class="component-options-form-delete cross" title="Удалить свойство" onclick="delete_' + add + 'component_option(this)" aria-hidden="true"></i></div></div>');
    option_inputs_count++;
  }

  function delete_component(component_id) {
    $.ajax({
      type: "delete",
      url: window.location.protocol + '//' + window.location.host + "/component/" + component_id,
      complete: function() {
          location.href = window.location.protocol + '//' + window.location.host + "/component_manager";
        }
    }).fail(function(xhr, ajaxOptions, thrownError) {
      console.log(thrownError);
    });
  }

  function delete_component_category() {
    $.ajax({
      type: "delete",
      url: window.location.protocol + '//' + window.location.host + "/component_category/" + $('.selector.active').text(),
      complete: function() {
          location.href = window.location.protocol + '//' + window.location.host + "/component_manager";
        }
    }).fail(function(xhr, ajaxOptions, thrownError) {
      console.log(thrownError);
    });
  }

  function delete_edit_component_option(e) {
    var ind = e.id.split('_').slice(-1)[0];
    var option = $('input[name="option_' + ind + '"]').val();
    var form = document.createElement("form");
    form.setAttribute('method', 'put');

    var el = document.createElement("input");
    el.name = "changed";
    el.value = 'delete';
    form.appendChild(el);

    var el = document.createElement("input");
    el.name = "option";
    el.value = option;
    form.appendChild(el);

    delete_component_option(e);
    form_by_ajax(form, '/component_category/{{ selected_category }}')
  }

  function delete_component_option(e) {
    if (option_inputs_count == {{ MAX_COMPONENT_OPTIONS_COUNT }} + 1) {
      $('#max-options-alert').remove();
      option_inputs_count--;
    }
    $(e).parent().parent().remove();
    // change option names to order their names' indexes
    $('.component-options-form-option').each(function(index) {
      this.name = 'option_' + index;
    });
    $('.component-options-form-dimension').each(function(index) {
      this.name = 'option_dimension_' + index;
    });
    $('.component-options-form-delete').each(function(index) {
      this.id = 'option_delete_' + index;
    });
    option_inputs_count--;
  }

  $('input[form^="option-update-form"]').change(function(e) {
    if (!e.target.value) return;
    // warning pill
    var values = [];
    var component_id = e.target.form.id.split('-').slice(-1)[0];
    $('.option-update-' + component_id).each( function (index, el) {
      values.push(el.value);
    });
    if (values.some(function (value) {return !value})) {
      $('#v-pills-' + e.target.form.id.split('-').slice(-1)[0] + '-tab').addClass('pills-warning');
    }
    else {
      $('#v-pills-' + e.target.form.id.split('-').slice(-1)[0] + '-tab').removeClass('pills-warning');
    }

    form_by_ajax(e.target.form, '/component/' + e.target.form.elements.component_id.value, update_component_callback);
  });

  function update_component_callback (res) {
    if (!res) {
      $('#update-component-alert').slideDown();
    }
  }

  $('.component-update-form').change(function(e) {
    if (!e.target.value) if (e.target.name != 'description') return;
    if (e.target.name == 'part_number' ||  e.target.name == 'name') {
      // change the header
      var id = e.target.form.id.split('-').slice(-1)[0];
      if (e.target.name == 'part_number') {
        $('#component-header-part-number-' + id).text(e.target.value);
      }
      else if (e.target.name == 'name') {
        // TODO: change pills name
        $('#component-header-name-' + id).text(e.target.value);
        $('#v-pills-' + id + '-tab').text(e.target.value);
      }
    }
    form_by_ajax(e.target.form, '/component/' + e.target.form.elements.component_id.value, update_component_callback);
  });
</script>
{% endblock %}
