{% extends 'base.html' %}

{% block title %}SharxDC - Конфигурировать {{ equipment.name }}{% endblock %}

{% block content %}
<h2>Конфигурировать {{ equipment.name }}</h2>
{% for requirement in equipment.requirements %}
<div class="row" style="padding-bottom: 15px;">
  <div class="col-sm-5">
    {{ requirement }}
  </div>
  <div class="col-sm-6">
    {% set acceptable_components = get_acceptable(requirement, equipment.requirements[requirement]) %}
    {% if acceptable_components %}
    <select oldvalue="0-0" onfocus="this.oldvalue = this.value;" onchange="this.oldvalue = this.value;" class="form-control" name="requirement-{{ requirement }}">
      <option disabled value="0-0">Не выбрано</option>
      {% for component in acceptable_components %}
      <option {% if component.vat %} vat="true" {% endif %} value="{{ component.component_id }}-{% if component.vat %}{{ (component.price|float * (1 + vat / 100))|round(2) }}{% else %}{{ component.price|float }}{% endif %}">{{ component.name }} | +{% if component.vat %}{{ (component.price|float * (1 + vat / 100))|round(2) }}{% else %}{{ component.price|float }}{% endif %} $</option>
      {% endfor %}
    </select>
    {% else %}
    <b>Нет подходящих компонентов для данного требования.</b>
    {% endif %}
  </div>
  <div class="col-sm-1">
    {% if acceptable_components %}
    <input type="number" name="requirement-{{ requirement }}-count" class="form-control" min="0" max="{{ equipment.requirements[requirement]['max'] }}" placeholder="Кол-во" required>
    {% endif %}
  </div>
</div>
{% endfor %}

<div id="total-block">
  <div class="container">
    <div class="row total-row">
      <div class="col-sm-3">
        Цена без НДС: <span id="total">0</span> $
      </div>
      <div class="col-sm-3">
        Налоговая ставка: {{ vat }}%
      </div>
      <div class="col-sm-3">
        <b>Цена с НДС: <span id="vat-total">0</span> $</b>
      </div>
      <div class="col-sm-3">
        <button id="save-button" type="button" class="btn btn-primary" onclick="save()">Сохранить</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{% include 'blocks/cookie.html' %}
<script type="text/javascript">

  const vat = {{ vat }};
  var category = '{{ equipment.category }}';
  var equipment_id = Number({{ equipment.equipment_id }});

  $( document ).ready(function() {
    $('select').each(function(ind, el) {
      if (getCookie('order', json=true) === undefined) {
        $('#save-button').attr('disabled', 'true');
        el.selectedIndex = 0;
      }
      else {
        var order = getCookie('order', json=true);
        if (equipment_id in order[category]) {
          for (var option_ind=0; option_ind < el.options.length; option_ind++) {
            var component_id = el.options[option_ind].value.split('-')[0];
            if (component_id in order[category][equipment_id]['components']) {
              $(el.options[option_ind]).attr('selected', 'selected');
              var requirement = this.name.split('-')[1];
              $('input[name="requirement-' + requirement + '-count"]').val(Number(order[category][equipment_id]['components'][component_id]));
              break;
            }
            if (option_ind == el.options.length - 1) {
              $('#save-button').attr('disabled', 'true');
              el.selectedIndex = 0;
            }
          }
        }
      }
    });
    update_totals();
  });

  function add_sign(num) {
    if (num < 0) return num; else return '+' + num;
  }

  function update_totals() {
    var vat_total = 0, total = 0;
    $('select').each(function(ind, el) {
      var count_input = $('input[name="' + el.name + '-count"]');
      var count = Number(count_input.val());
      if (count < 0) {
        count = 0;
        count_input.val(0);
      }
      if (count > Number(count_input.attr('max'))) {
        count = Number(count_input.attr('max'));
        count_input.val(count);
      }
      var price = Number(el.value.split('-')[1]);  // includes vat if has vat
      if ($(el).find(':selected').attr('vat')) total += price / (1 + vat / 100) * count;
      else total += price * count;
      vat_total += price * count;
    });
  $('#vat-total').text(vat_total.toFixed(2));
  $('#total').text(total.toFixed(2));
  }

  function change_prices(select) {
    var old_price = Number(select.oldvalue.split('-')[1]);
    var new_price = Number(select.value.split('-')[1]);
    var delta = new_price - old_price;

    for (var option of select.options) {
      if (option.disabled) continue;
      var name = option.text.split(' | ')[0];
      if (option.text.split(' | ').length == 2) {
        var option_delta = Number(option.text.split(' | ')[1].split(' ')[0]);
        var new_option_delta = option_delta - delta;
        if (option.selected) option.text = name; else
        option.text = name + ' | ' + add_sign(new_option_delta) + ' $';
      }
      else {
        option.text = name + ' | ' + add_sign(-delta) + ' $';
      }
    }
    setCookie('changed', true);
  }

  function save() {
    var new_data = {};
    var not_filled = false;
    $('select').each(function() {
      if (this.value == '0-0' || not_filled) {
        not_filled = true;
        return;
      }
      var component_id = Number(this.value.split('-')[0]);
      var requirement = this.name.split('-')[1];
      var component_count = Number($('input[name="' + this.name + '-count"]').val());
      new_data[component_id] = component_count;
    });

    if (not_filled) return;

    // save to cookie
    var changes = getCookie('order', json=true);
    changes[category][equipment_id]['components'] = new_data;
    setCookie('order', changes);
    location.replace('{{ url_for("order", id=order_id) }}')
  }

  $('select, input').change(function() {
    var disabled = false;
    $('select, input').each(function (ind, el) {
      if (disabled) return;
      if (el.value == '0-0' || !el.value) disabled = true;
    });
    $('#save-button').attr('disabled', disabled);
    update_totals();
  });
</script>
{% endblock %}
