{% extends 'base.html' %}
{% block title %}SharxDC Конфигуратор - Изменить учётные данные{% endblock %}

{% block style %}
<style>
  label {
    width: 150px;
  }
</style>
{% endblock %}

{% block content %}
  {% include 'blocks/flashed_messages.html' %}
  <form method="post" action="">
    <input type="hidden" name="user_id" value="{{ user.user_id }}">
    <div class="form-group">
      <label for="username">Имя пользователя:</label>
      <input disabled style="cursor: not-allowed" title="Имя пользователя изменить нельзя" required value="{{ user.username }}" maxlength="100" type="text" id="username" name="username">
    </div>
    <div class="form-group">
      <label for="name">Имя:</label>
      <input required value="{{ user.name }}" maxlength="100" type="text" id="name" name="name">
    </div>
    <div class="form-group">
      <label for="surname">Фамилия:</label>
      <input required value="{{ user.surname }}" maxlength="100" type="text" id="surname" name="surname">
    </div>
    <div class="form-group">
      <label for="company">Компания:</label>
      <input required value="{{ user.company }}" maxlength="100" type="text" id="company" name="company">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input required value="{{ user.email }}" maxlength="100" type="email" id="email" name="email">
    </div>
    <div class="form-group">
      <label for="phone">Телефон:</label>
      <input required value="{{ user.phone }}" maxlength="30" type="text" id="phone" name="phone">
    </div>
    <button type="button" onclick="$('#password_block').slideToggle();" class="btn btn-link">Сменить пароль</button>
    <div id="password_block" style="display:none;">
      <div class="form-group">
        <label for="old_password">Старый пароль:</label>
        <input maxlength="100" type="password" id="old_password" name="old_password">
      </div>
      <div class="form-group">
        <label for="new_password">Новый пароль:</label>
        <input maxlength="100" type="password" id="new_password" name="new_password">
      </div>
      <div class="form-group">
        <label for="repeat_new_password">Повторите новый пароль:</label>
        <input maxlength="100" type="password" id="repeat_new_password" name="repeat_new_password">
      </div>
    </div>
    <input required type="submit" class="btn btn-secondary" value="Сохранить">
  </form>
{% endblock %}
</html>
