<!-- TODO: add dimension & reload with localStoraging opened tabs -->
{% extends 'base.html' %}

{% block title %}SharxDC - Менеджер оборудрования{% endblock %}

{% block style %}
<style>
  .requirement-table {
    width: 100%;
  }
</style>
{% endblock %}

{% block content %}
{% include 'blocks/flashed_messages.html' %}
<div class="row">
<div class="col-md-2">
  {% if selected_category != 'None' %}
  <div class="list-group">
    {% for category in equipment_categories %}
    <a href="/equipment_manager/{{ category }}" class="selector list-group-item list-group-item-action {% if category == selected_category %}active{% endif %}">{{ category }}</a>
    {% endfor %}
  </div>
  {% endif %}
</div>
<div class="col-md-10">
<div class="container">
  {% if selected_category != 'None' %}<button type="button" data-target="#edit_equipment_category_modal" data-toggle="modal" role="dialog" class="btn btn-link"><i class="fas fa-edit fa-control text_i" aria-hidden="true"></i>Изменить название типа</button>
  <!-- Modal -->
  <div class="modal fade" id="edit_equipment_category_modal" tabindex="-1" role="dialog" aria-labelledby="edit_equipment_category_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit_equipment_category_modal_label">Изменить название типа</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="put" id="edit_equipment_category_form">
            <input type="hidden" name="category" value="{{ selected_category }}">
            <div class="form-group">
              <label for="edit_category_name">Название</label>
              <input required type="text" form="edit_equipment_category_form" onchange="form_by_ajax(this.form, '/equipment_category/{{ selected_category }}');" value="{{ selected_category }}" id="edit_category_name" name="new_category_name" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="location.href='/equipment_manager/' + $('#edit_category_name').val();" class="btn btn-primary">Сохранить изменения</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if selected_category != 'None' %}<button type="button" class="btn btn-link btn-link-delete" onclick="delete_equipment_category()"><i class="fa fa-minus-circle text_i" aria-hidden="true"></i>Удалить данный тип...</button>{% endif %}
  <button type="button" style="display: inline;" class="btn btn-link" data-toggle="modal" data-target="#add-equipment-category-modal"><i class="fa fa-plus-circle text_i" aria-hidden="true"></i>Добавить тип оборудования...</button>
  <div class="modal fade" id="add-equipment-category-modal" tabindex="-1" role="dialog" aria-labelledby="add-equipment-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-equipment-modal-title">Добавить тип оборудования</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/equipment_category" method="post">
          <div class="form-group">
            <label for="add-equipment-category-name">Название типа</label>
            <input required type="text" id="add-equipment-category-name" class="form-control" name="category" maxlength="255" placeholder="Название типа">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Создать</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<div class="container">
    {% if selected_category != 'None' %}<button type="button" class="btn btn-link" data-toggle="modal" data-target="#add-equipment-modal"><i class="fa fa-plus-circle text_i" aria-hidden="true"></i>Добавить оборудование...</button>
    <div class="modal fade" id="add-equipment-modal" tabindex="-1" role="dialog" aria-labelledby="add-equipment-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="add-equipment-modal-title">Добавить оборудованние</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/equipment" method="post">
              <input type="hidden" name="category" value="{{ selected_category }}">
              <div class="form-group">
                <label for="add-equipment-name">Название</label>
                <input required id="add-equipment-name" type="text" class="form-control" name="name" maxlength="255" placeholder="Название">
              </div>
              <div class="form-group">
                <label for="add-equipment-part-number">Part Number</label>
                <input required id="add-equipment-part-number" type="text" class="form-control" name="part_number" maxlength="255" placeholder="Part Number">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row">
    <div class="col-sm-3">
      <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
        {% for equip in equipment %}
        <a class="nav-link nav-tabs" id="v-pills-{{ equip.equipment_id }}-tab" data-toggle="pill" href="#v-pills-{{ equip.equipment_id }}" role="tab" aria-controls="v-pills-{{ equip.equipment_id }}" aria-selected="false">{{ equip['name'] }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-sm-9">
      <div class="tab-content">
        {% for equip in equipment %}
        <div class="tab-pane fade" id="v-pills-{{ equip.equipment_id }}" role="tabpanel" aria-labelledby="v-pills-{{ equip.equipment_id }}-tab">
          <div class="row">
            <div class="col-md-7">
              <h4><span id="equipment-header-name-{{ equip.equipment_id }}">{{ equip.name }}</span> <span id="equipment-header-part-number-{{ equip.equipment_id }}">({{ equip.part_number }})</span></h4>
            </div>
            <div class="col-md-5">
              <button type="button" onclick="delete_equipment({{ equip.equipment_id }});" class="btn btn-danger" style="float: right;">Удалить оборудование</button>
            </div>
          </div>
          <form method="put" class="equipment-update-form" id="component-update-form-{{ equip.equipment_id }}" onsubmit="form_by_ajax(this, '/equipment/{{ equip.equipment_id }}'); return false;">
            <input type="hidden" name="equipment_id" value="{{ equip.equipment_id }}">
            <div class="row">
              <div class="form-group col-6">
                <label for="name-{{ equip.equipment_id }}">Название</label>
                <input required type="text" style="display: inline;" id="name-{{ equip.equipment_id }}" class="form-control" name="name" value="{{ equip.name }}">
              </div>
              <div class="form-group col-6">
                <label for="part-number-{{ equip.equipment_id }}">Part Number</label>
                <input required type="text" style="display: inline;" id="part-number-{{ equip.equipment_id }}" class="form-control" name="part_number" value="{{ equip.part_number }}">
              </div>
            </div>
            <div class="form-group ml-4">
              <input type="checkbox" id="end-of-sale-{{ equip.equipment_id }}" class="form-check-input" name="end_of_sale" {% if equip.end_of_sale %} checked {% endif %}>
              <label for="end-of-sale-{{ equip.equipment_id }}" class="form-check-label">EndOfSale</label>
            </div>
          </form>
          <h3>Требования:</h3>
          <button type="button" class="btn btn-link" onclick="$(this.nextElementSibling).slideToggle()"><i class="fa fa-plus-circle text_i" aria-hidden="true"></i>Добавить компонент...</button>
          <form method="put" onsubmit="form_by_ajax(this, '/equipment/{{ equip.equipment_id }}', location.reload.bind(location)); return false;" style="display: none; padding-bottom: 20px;">
            <input type="hidden" name="equipment_id" value="{{ equip.equipment_id }}">
            <div class="row">
              <div class="col-6">
                <select name="component" class="form-control">
                  {% for category in component_categories %}
                  <option value="{{ category }}">{{ category }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-6 center">
                <button type="submit" class="btn btn-secondary">Добавить</button>
              </div>
            </div>
          </form>
          <!-- show requirements -->
          <table class="requirement-table">
            {% for requirement in equip.requirements.keys() %}
            {% set meta = equip.requirements[requirement] %}
            <tr>
            <td style="vertical-align: middle;">
              <form method="delete" id="requirement-delete-form-{{ requirement.replace(' ', '-') }}">
                <input type="hidden" name="equipment_id" value="{{ equip.equipment_id }}">
                <input type="hidden" name="requirement" value="{{ requirement }}">
              </form>
              <i class="fa fa-times fa-control mt-2 cross" id="requirement-delete-button-{{ requirement.replace(' ', '-') }}" aria-hidden="true" title="Удалить требование" onclick="delete_requirement(this)"></i>
            </td>
            <td style="text-align: center; vertical-align: middle;">
              <h4 class="requirement-header-text">{{ requirement }}</h4>
              <form method="put" class="form-inline" style="text-align: center; display: inline-block;">
                <input type="hidden" name="equipment_id" value="{{ equip.equipment_id }}">
                <input type="hidden" name="component" value="{{ requirement }}">
                <div class="form-group">
                  <label for="{{ equip.equipment_id }}-requirement-max-{{ equip.equipment_id }}">Max: </label>
                  <input value="{{ meta['max'] }}" style="width: 100px; padding-top: 0; padding-bottom: 0;" id="{{ equip.equipment_id }}-requirement-max-{{ equip.equipment_id }}" type="number" class="form-control ml-sm-3" onchange="form_by_ajax(this.form, '/equipment/{{ equip.equipment_id }}'); return false;" name="max" step="1" min="1">
                </div>
              </form>
            </td>
            <td>
              <button type="button" style="padding-left: 0;" class="btn btn-link" onclick="$(this.nextElementSibling).slideToggle()"><i class="fa fa-plus-circle text_i"></i>Добавить условие...</button>
              <form style="display: none;" method="put" onsubmit="form_by_ajax(this, '/equipment/{{ equip.equipment_id }}', location.reload.bind(location)); return false;">
                <input type="hidden" name="equipment_id" value="{{ equip.equipment_id }}">
                <input type="hidden" name="component" value="{{ requirement }}">
                <div class="form-row">
                  <div class="form-group offset-1 col-3">
                    <select class="form-control" name="component_option">
                      {% for option in component_categories[requirement] %}
                      <option value="{{ option }}">{{ option }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group col-1">
                    <select class="form-control" name="operator">
                      <option value="less_eq">&#10877;</option>
                      <option value="eq">&#61;</option>
                      <option value="more_eq">&#10878;</option>
                    </select>
                  </div>
                  <div class="form-group col-2">
                    <input required type="text" class="form-control requirement-value" name="value">
                  </div>
                  <div class="form-group col-1">
                    <button type="submit" class="btn btn-secondary">Добавить</button>
                  </div>
                </div>
              </form>
              {% for filter in meta['filters'] %}
              {% set form_id = 'delete-form-{{ equip.equipment_id }}-{{ requirement }}-{{ loop.index }}' %}
              <form method="put" class="form-inline" id="{{ form_id }}">
                <input type="hidden" name="equipment_id" value="{{ equip.equipment_id }}">
                <input type="hidden" name="component" value="{{ requirement }}">
                <div class="form-row">
                  <div class="form-group">
                    <input type="hidden" name="component_option" value="{{ filter['component_option'] }}">
                    <p style="margin-bottom: 0;">{{ filter['component_option'] }}</p>
                  </div>
                  <div class="form-group ml-2">
                    <select class="form-control" name="operator" onchange="form_by_ajax(this.form, '/equipment/{{ equip.equipment_id }}'); return false;">
                      <option {% if filter['operator'] == 'less_eq' %} selected {% endif %} value="less_eq">&#10877;</option>
                      <option {% if filter['operator'] == 'eq' %} selected {% endif %} value="eq">&#61;</option>
                      <option {% if filter['operator'] == 'more_eq' %} selected {% endif %} value="more_eq">&#10878;</option>
                    </select>
                  </div>
                  <div class="form-group ml-2">
                    <input type="text" style="width: 100px;" onchange="form_by_ajax(this.form, '/equipment/{{ equip.equipment_id }}'); return false;" class="form-control requirement-value" name="operand" value="{{ filter['value'] }}">
                  </div>
                  <div class="form-group ml-2">
                    <i class="fa fa-times fa-control cross" onclick="delete_option($(this).closest('form'));" title="Удалить условие" aria-hidden="true"></i>
                  </div>
                </div>
              </form>
              {% endfor %}
            </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  $( document ).ready(function() {
    if (!sessionStorage.chosen_id) {
      sessionStorage.chosen_id = $('.nav-tabs')[0].id.split('-')[2];
    }
    var e = $('#v-pills-' + sessionStorage.chosen_id + '-tab');
    $(e).click();
    e.attr('aria-selected', 'true');
    $('.requirement-value').each(check_requirement_type);
  });

  $('.requirement-value').on('keyup', check_requirement_type);

  function check_requirement_type(ind, e) {
    var obj = (e === undefined) ? ind.target : e;
    var val = new String(obj.value);
    var operator_selector = obj.parentNode.previousElementSibling.firstElementChild;
    // test if not digit
    if (val == '' || (val.length > 0 && !/^\d+$/.test(val[0]))) {
      obj.setAttribute('type', 'text');
      obj.removeAttribute('step');
      obj.removeAttribute('min');
      if (val != '') for (option of operator_selector.options)
        if (option.value != 'eq') option.disabled = true;
        else option.selected = true;
    }
    else {
      obj.setAttribute('type', 'number');
      obj.setAttribute('step', 'any');
      obj.setAttribute('min', '0');
      for (option of operator_selector.options) option.disabled = false;
    }
  }

  function delete_equipment(component_id) {
    $.ajax({
      type: "delete",
      url: window.location.protocol + '//' + window.location.host + "/equipment/" + component_id,
      complete: function() {
          location.href = window.location.protocol + '//' + window.location.host + "/equipment_manager";
        }
    }).fail(function(xhr, ajaxOptions, thrownError) {
      console.log(thrownError);
    });
  }

  function delete_requirement(btn) {
    var requirement = btn.id.split('-').slice(3).join('-');
    var form = $("#requirement-delete-form-" + requirement);
    form_by_ajax(form, '/equipment/' + form[0].equipment_id.value, location.reload.bind(location));
    form.closest('.requirement').remove();
  }

  function delete_option(form) {
    form.attr('method', 'delete');
    form_by_ajax(form, '/equipment/' + form[0].equipment_id.value);
    form.remove();
  }

  $('.equipment-update-form').change(function(e) {
    if (e.target.value == '')  return;
    // change the header
    var id = e.target.form.id.split('-').slice(-1)[0];
    if (e.target.name == 'part_number') {
      $('#equipment-header-part-number-' + id).text(e.target.value);
    }
    else if (e.target.name == 'name') {
      // TODO: change pills name
      $('#equipment-header-name-' + id).text(e.target.value);
      $('#v-pills-' + id + '-tab').text(e.target.value);
    }
    form_by_ajax(e.target.form, '/equipment/' + e.target.form.elements.equipment_id.value);
  });

  function delete_equipment_category() {
    // TODO: add loader for the whole page
    $.ajax({
      type: "delete",
      url: window.location.protocol + '//' + window.location.host + "/equipment_category/" + $('.selector.active').text(),
      complete: function() {
          location.href = window.location.protocol + '//' + window.location.host + "/equipment_manager";
        }
    }).fail(function(xhr, ajaxOptions, thrownError) {
      console.log(thrownError);
    });
  }
</script>
{% endblock %}
