{% extends 'base.html' %}
{% block title %}SharxDC Конфигуратор - Вход{% endblock %}

{% block style %}
<style>
  #login-block {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 350px;
  }
</style>
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
  <div id="login-block">
    <img src="{{ url_for('static', filename='images/sdc_black_768_496.png') }}" alt="Логотип" width="300">
    <div class="whitespace-25"></div>
    <button style="left: 0; padding-left:0;" class="btn btn-link" data-toggle="modal" data-target="#register-modal">Зарегистрироваться</button>
    <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="register-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="register-modal-title">Регистрация</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="/register">
            <div class="form-row">
              <div class="form-group col-lg-4">
                <label for="username">Имя пользователя:</label>
                <input required maxlength="100" class="form-control" type="text" id="username" name="username">
              </div>
              <div class="form-group col-lg-4">
                <label for="name">Имя:</label>
                <input required maxlength="100" class="form-control" type="text" id="name" name="name">
              </div>
              <div class="form-group col-lg-4">
                <label for="surname">Фамилия:</label>
                <input required maxlength="100" class="form-control" type="text" id="surname" name="surname">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-lg-4">
                <label for="company">Компания:</label>
                <input required maxlength="100" class="form-control" type="text" id="company" name="company">
              </div>
              <div class="form-group col-lg-4">
                <label for="email">Email:</label>
                <input required maxlength="100" class="form-control" type="email" id="email" name="email">
              </div>
              <div class="form-group col-lg-4">
                <label for="phone">Телефон:</label>
                <input required maxlength="30" class="form-control" type="text" id="phone" name="phone">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-lg-6">
                <label for="password">Пароль:</label>
                <input required maxlength="100" class="form-control" type="password" id="password" name="password">
              </div>
              <div class="form-group col-lg-6">
                <label for="repeat_password">Повторите пароль:</label>
                <input required maxlength="100" class="form-control" type="password" id="repeat_password" name="repeat_password">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Создать аккаунт</button>
          </div>
        </form>
      </div>
    </div>
  </div>
    <br>
    {% include 'blocks/flashed_messages.html' %}
    <form method="post" action="/login">
      <div class="form-group">
        <label for="username">Имя пользователя:</label>
        <input type="text" class="form-control" id="username" name="username">
      </div>
      <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <input type="submit" class="btn btn-primary center" value="Войти">
    </form>
  </div>
{% endblock %}
