{% extends 'base.html' %}
{% block title %}SharxDC Конфигуратор - {% if session['role'] == 'partner' %}Партнёр{% else %}Сотрудник{% endif %}{% endblock %}

{% block style %}
{% include 'blocks/chosen_css.html' %}
{% include 'blocks/datatables_css.html' %}
<style>
  #table-wrapper {
    height: 57vh;
  }

  #order-table_paginate {
    margin: 0 auto;
  }
</style>
{% endblock %}

{% block content %}
  {% include 'blocks/flashed_messages.html' %}
  <button class="btn btn-link" data-toggle="modal" data-target="#add-order-modal">Создать решение...</button>
  <div class="modal fade" id="add-order-modal" tabindex="-1" role="dialog" aria-labelledby="add-order-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-order-modal-title">Регистрация</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/order">
          <div class="row">
            <div class="col-lg-4 form-group">
              <label for="order_name">Название решения</label>
              <input required id="order_name" type="text" class="form-control" maxlength="255" name="order_name" placeholder="Название решения">
            </div>
            <div class="col-lg-4 form-group">
              <label for="customer_name">Заказчик</label>
              <input required id="customer_name" type="text" class="form-control" maxlength="255" name="customer_name" placeholder="Заказчик">
            </div>
            <div class="col-lg-4 form-group">
              <label for="contact_name">Контактное лицо</label>
              <input id="contact_name" required type="text" class="form-control" maxlength="255" name="contact_name" placeholder="Контактное лицо">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 form-group">
              <label for="contact_phone">Контактный телефон</label>
              <input required id="contact_phone" type="text" class="form-control" maxlength="30" name="contact_phone" placeholder="Контактный телефон">
            </div>
            <div class="col-lg-6 form-group">
              <label for="contact_email">Контактный email</label>
              <input required id="contact_email" type="email" class="form-control" maxlength="255" name="contact_email" placeholder="Контактный email">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 form-group">
              <label for="description">Описание решения</label>
              <textarea name="description" rows="3" class="form-control" placeholder="Описание"></textarea>
            </div>
          </div>
          <div class="row">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Создать</button>
        </div>
      </form>
    </div>
  </div>
  </div>
  {% if session['role'] == 'employee' %}
  <button type="button" name="button" class="btn btn-link" data-toggle="modal" data-target="#another_user_modal">Перейти к решениям другого пользователя...</button>
  <!-- Modal -->
  <div class="modal fade" id="another_user_modal" tabindex="-1" role="dialog" aria-labelledby="another_user_modal_title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="another_user_modal_title">Перейти к решениям другого пользователя</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <select id="user-select" data-placeholder="Выберите пользователя..." style="width: 80%" name="user_id">
            {% for user in users %}
            <option value="{{ user.user_id }}">{{ user.name }} {{ user.surname }} ({{ user.company }})</option>
            {% endfor %}
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary" onclick="go_to_user()">Перейти</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div id="table-wrapper">
    <table class="table table-striped" id="order-table">
      <thead>
        <tr id="order-table-headers">
          <th scope="col">#</th>
          <th scope="col">Версия</th>
          <th scope="col">Название</th>
          <th scope="col">Автор</th>
          <th scope="col">Заказчик</th>
          <th scope="col" style="text-align: center;">Дата последнего изменения</th>
          <th scope="col" style="text-align: center;">Дата создания</th>
          <th scope="col" style="text-align: center;">Редактировать</th>
          <th scope="col" style="text-align: center;">Удалить</th>
        </tr>
      </thead>
      <tbody>
        {% for key in orders %}
        {% set order = orders[key][0] %}
        {% set base_order_id = order.base_order_id if order.base_order_id is not none else order.order_id %}
        <tr class="order-table-row">
          <th scope="row">{{ base_order_id }}</th>
          <td>
            <select class="form-control" onchange="change_order_link(this, '{{ order.order_id }}')">
              <option value="{{ order.order_id }}">{{ base_order_id }}.{{ order.previous_orders.split()|length }}</option>
              {% for prev in order.previous_orders.split() %}
              <option value="{{ prev }}">{{ base_order_id }}.{{ order.previous_orders.split()|length - loop.index }}</option>
              {% endfor %}
            </select>
          </td>
          <td>{{ order.order_name }}</td>
          <td>{{ order.author }}</td>
          <td>{{ order.customer_name }}</td>
          <td style="text-align: center;">{{ order.last_modified.strftime('%d.%m.%Y') }}</td>
          <td style="text-align: center;">{{ order.created_on.strftime('%d.%m.%Y') }}</td>
          <td style="text-align: center;"><a href="/order/{{ order.order_id }}" id="button_order_{{ order.order_id }}" class="btn-link">Перейти</a></td>
          <td style="text-align: center;">{% if session['user_id'] == order.user_id %}<i class="fas fa-times fa-control mt-1 cross" onclick="delete_order({{ base_order_id }}, {{ order.order_id }})"></i>{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block script %}
{% include 'blocks/chosen_js.html' %}
{% include 'blocks/datatables_js.html' %}
<script type="text/javascript">
  $(document).ready(function () {
     {% if session['role'] == 'employee' %}
     $("#user-select").chosen({no_results_text: "Пользователь не найден:",
                               width: "80%"});
     {% endif %}

     var table_wrapper_height = $('#table-wrapper').height();
     var row_height = $('.order-table-row').height();
     var page_length = Math.floor(table_wrapper_height / row_height);
     $('#order-table').dataTable({
       pageLength: page_length,
       pagingType: 'numbers',
       searching: false,
       ordering: false,
       info: false,
       language: {
         emptyTable: 'Вы ещё не создали ни одного решения.'
       }
     });
     $('#order-table_length').remove();
  });

  function change_order_link(select, order_id) {
    var new_id = $(select).val();
    var button = $('#button_order_' + order_id);
    button.prop('href', '/order/' + new_id);
  }

  function go_to_user() {
    var user = $('#user-select').val();
    if (!user) return;
    location.href = '/order_manager?user_id=' + user;
  }

  function delete_order(base_id, id) {
    if (confirm('Вы уверены, что хотите удалить решение #' + base_id + ' и все его версии?'))
    $.ajax({
      url: '/order/' + id,
      method: 'delete',
      complete: function() {
        location.reload();
      }
    }).fail(function(xhr, ajaxOptions, thrownError) {
      console.log(thrownError);
    });
  }
</script>
{% endblock %}
