{% extends 'base.html' %}
{% block title %}SharxDC - Решение {{ str_order }}{% endblock %}

{% block style %}
{% include 'blocks/chosen_css.html' %}
<style>
  #order_header {
    border: 1px solid #CFCFCF;
    padding: 10px;
    border-radius: 25px;
  }

  #order_header_text {
    margin-bottom: 0;
    display: inline;
    margin-right: 25px;
  }

  #order_header_info {
    display: inline;
  }
</style>
{% endblock %}
{% block content %}
  <div id="order_header" class="container">
    <h3 id="order_header_text">Решение #{{ str_order }}: {{ order.order_name }}</h3>
   <h5 id="order_header_info"><i class="fas fa-id-card"></i> {{ order.contact_name }}({{ order.customer_name }}) <a href="mailto: {{ order.contact_email }}">{{ order.contact_email }}</a> <a href="tel: {{ order.contact_phone }}">{{ order.contact_phone }}</a></h5><br>
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#edit-modal">Редактировать решение...</button>
    <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="edit-modal-title">Редактировать решение</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/update_order/{{ order.order_id }}" method="post">
              <input type="hidden" name="order_id" value="{{ order.order_id }}">
                <div class="row">
                  <div class="col-md-4 form-group">
                    <label for="order_name">Название решения</label>
                    <input required id="order_name" value="{{ order.order_name }}" type="text" class="form-control" maxlength="255" name="order_name" placeholder="Название решения">
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="customer_name">Заказчик</label>
                    <input required id="customer_name" value="{{ order.customer_name }}" type="text" class="form-control" maxlength="255" name="customer_name" placeholder="Заказчик">
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="contact_name">Контактное лицо</label>
                    <input id="contact_name" required value="{{ order.contact_name }}" type="text" class="form-control" maxlength="255" name="contact_name" placeholder="Контактное лицо">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 form-group">
                    <label for="contact_phone">Контактный телефон</label>
                    <input required id="contact_phone" value="{{ order.contact_phone }}" type="text" class="form-control" maxlength="30" name="contact_phone" placeholder="Контактный телефон">
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="contact_email">Контактный email</label>
                    <input required id="contact_email" value="{{ order.contact_email }}" type="email" class="form-control" maxlength="255" name="contact_email" placeholder="Контактный email">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label for="description">Описание решения</label>
                    <textarea name="description" rows="3" class="form-control" placeholder="Описание">{{ order.description }}</textarea>
                  </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<div class="whitespace"></div>

<div id="control_panel" class="mt-2">
  <a href="/order/{{ order.order_id }}/add_equipment" class="btn btn-link">Добавить оборудование...</a>
  <button type="button" class="btn btn-link" onclick="$('#save_modal').modal('toggle')">Сохранить решение как...</button>
  <div class="dropdown mb-2" style="display: inline;">
  <a class="btn btn-link dropdown-toggle" href="#" role="button" id="export-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Экспорт в...
  </a>
  <div class="dropdown-menu" aria-labelledby="export-dropdown">
    <button class="dropdown-item" onclick="save_before_export(this);" format=".xlsx">.xlsx</button>
    <button class="dropdown-item" onclick="save_before_export(this);" format=".xls">.xls</button>
  </div>
</div>
</div>

<!-- Modals -->
<div class="modal fade" id="save_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Сохранить как:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="save-modal-body">
        <div class="alert alert-warning" role="alert" id="save-alert" style="display: none">
          Решение необходимо сохранить, прежде чем экспортировать его.
        </div>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" onclick="save_as = 'as_current';" id="pills-current-v-tab" data-toggle="pill" href="#pills-current-v" role="tab" aria-controls="pills-current-v" aria-selected="true">текущую версию</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-new-v-tab" onclick="save_as = 'as_new';" data-toggle="pill" href="#pills-new-v" role="tab" aria-controls="pills-new-v" aria-selected="false">новую версию</a>
          </li>
          {% if session['role'] == 'employee' %}
          <li class="nav-item">
            <a class="nav-link" id="pills-another-user-v-tab" onclick="save_as = 'as_another_user'" data-toggle="pill" href="#pills-another-user-v" role="tab" aria-controls="pills-another-user-v" aria-selected="false">{% if order.user_id == session.user_id %}другому пользователю{% else %}к себе{% endif %}</a>
          </li>
          {% endif %}
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-current-v" role="tabpanel" aria-labelledby="pills-current-v-tab">Решение будет сохранено как #{{ str_order }}</div>
          <div class="tab-pane fade" id="pills-new-v" role="tabpanel" aria-labelledby="pills-new-v-tab">Решение будет сохранено как #{{ new_str_order }}</div>
          {% if session['role'] == 'employee' %}
          <div class="tab-pane fade" id="pills-another-user-v" role="tabpanel" aria-labelledby="pills-another-user-v-tab">
            {% if order.user_id == session.user_id %}
            <select id="user-select" data-placeholder="Выберите пользователя..." style="width: 80%" name="user_id">
              {% for user in users %}
              <option value="{{ user.user_id }}">{{ user.name }} {{ user.surname }} ({{ user.company }})</option>
              {% endfor %}
            </select>
            {% else %}
            <input type="hidden" name="user_id" value="{{ session['user_id'] }}">
            Решение будет сохранено в ваш аккаунт как {{ save_to_me_number }}
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
        <button type="button" class="btn btn-primary" id="save-button" onclick="save()">Сохранить</button>
      </div>
    </div>
  </div>
</div>

{% if editing_another %}
<!-- editing another Modal -->
<div class="modal" tabindex="-1" id="editing-another-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Редактирование другого решения</h5>
      </div>
      <div class="modal-body">
        <p>У вас есть несохранённые изменения в решении #{{ another_str_order }}.
          Вернуться к редактируемому решению или удалить изменения и продолжить редактирование
          текущего решения?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="edit_anyway()">Перейти к редактированию</button>
        <a type="button" class="btn btn-primary" href="/order/{{ another_order_id }}">Вернуться</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="whitespace-25">
  {% include 'blocks/flashed_messages.html' %}
  {% if data is not none %}
  {% set vat_total = namespace(value=0.0) %}
  {% set total = namespace(value=0.0) %}
  <table class="table">
    {% for category in data %}
    <tr>
      <th scope="row" id="category-{{ category }}" style="background-color: #EAEAEA;" colspan="12"><h4><b>{{ category }}</b></h4></th>
    </tr>
    {% for equip in data[category] %}
    <tr>
      {% set id = data[category][equip]['id'] %}
      <td scope="row" style="text-align: center; vertical-align: middle;" colspan="5"><b>{{ equip }}</b></td>
      <td>
        <div class="form-inline">
          <label for="count-{{ id }}" style="padding-right: 5px;">Кол-во:</label>
          <input type="number" id="count-{{ id }}" category="{{ category }}" style="width: 100px;" class="form-control count" min="1" value="{{ data[category][equip]['count'] }}">
        </div>
      </td>
      {% set vat_total.value = (vat_total.value + data[category][equip]['vat_total'] * int(data[category][equip]['count'])) | round(2) %}
      {% set total.value = (total.value +
        data[category][equip]['total'] * int(data[category][equip]['count'])) | round(2) %}
      <input type="hidden" id="vat-price-{{ id }}" value="{{ data[category][equip]['vat_total'] }}">
      <input type="hidden" id="price-{{ id }}" value="{{ data[category][equip]['total'] }}">
      <td><span id="vat-total-{{ id }}">{{ (data[category][equip]['vat_total'] * int(data[category][equip]['count'])) | round(2) }}</span> $</td>
      <td>{% if data[category][equip]['end_of_sale'] %}<i title="В данное оборудование входят компоненты, которые больше не реализуются." class="fas fa-exclamation-triangle warning"></i>{% endif %}</td>
      <td><a href="/order/{{ order.order_id }}/{{ data[category][equip]['id'] }}">Конфигурировать</a></td>
      <td><i class="fa fa-times fa-control mt-2 cross" id="delete-{{ category }}-{{ data[category][equip]['id'] }}" onclick="delete_equipment(this)" title="Удалить оборудование"></i></td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
  {% endif %}
</div>

<div id="total-block">
  <div class="container">
    <div class="row total-row">
      <div class="col-sm-3 total-block-data">
        Цена без НДС: <span id="total">{{ total.value | round(2) }}</span> $
      </div>
      <div class="col-sm-3 total-block-data">
        Налоговая ставка: {{ vat }}%
      </div>
      <div class="col-sm-3 total-block-data">
        <b>Цена с НДС: <span id="vat-total">{{ vat_total.value | round(2) }}</span> $</b>
      </div>
      <div class="col-sm-3 total-block-data">
        <button id="save-button" type="button" class="btn btn-primary" onclick="$('#save_modal').modal('show')">Сохранить</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{% include 'blocks/cookie.html' %}
{% include 'blocks/chosen_js.html' %}
<script type="text/javascript">
  var save_as = 'as_current';

  $(document).ready(function () {
     $("#user-select").chosen({no_results_text: "Пользователь не найден:",
                               width: "80%"});
     if ($("#editing-another-modal")) $('#editing-another-modal').modal();
     if ($('.warning')[0]) {
       $('#save-modal-body').html('<p>В решении присутствуют компоненты, реализация которых больше не производится. Замените их, прежде чем сохранить это решение.</p>');
       $('#save-button').attr('disabled', true);
       $('#save-button').css({cursor:'not-allowed'})
     }

  });

  {% if editing_another %}
  function edit_anyway() {
    deleteCookie('changes_for');
    deleteCookie('order');
    deleteCookie('changed');
    location.reload();
  }
  {% endif %}

  function save() {
    if (!save_as) {
      console.error('save_as is undefined');
      return;
    }

    if ($('.warning')[0]) return;

    var form = document.createElement('form');
    form.setAttribute('method', 'put');
    var el = document.createElement('input');
    el.name = 'save_as';
    el.value = save_as;
    form.appendChild(el);

    var el = document.createElement('input');
    el.name = 'order_id';
    el.value = {{ order.order_id }};
    form.appendChild(el);

    if (save_as == 'as_another_user') {
      var el = document.createElement('input');
      el.name = 'user_id';
      {% if session['role'] == 'employee' and session['user_id'] != order.user_id %}
      el.value = {{ session['user_id'] }};
      {% else %}
      el.value = $('#user-select').val();
      {% endif %}
      form.appendChild(el);
    }

    form_by_ajax(form, '/order/{{ order.order_id }}', save_callback);
  }

  function save_callback() {
    deleteCookie('order');
    deleteCookie('changes_for');
    deleteCookie('changed');
    location.reload(true);
  }

  function save_before_export(btn) {
    if (getCookie('changed') !== undefined) {
      $('#save_modal').modal('show');
      $('#save-alert').show();
    }
    else location.href = '/order/{{ order.order_id }}/export/' + $(btn).attr('format');
  }

  $('.count').change(function() {
    // re-count totals
    var total = 0;
    var vat_total = 0;
    $('.count').each(function(ind, el) {
      var count = Number(el.value);
      var id = el.id.split('-')[1];
      var price = Number($('#price-' + id).val());
      var vat_price = Number($('#vat-price-' + id).val());
      var position_total = Math.trunc(price * count * 100) / 100;
      var position_vat_total = Math.trunc(vat_price * count * 100) / 100;
      $('#vat-total-' + id).text(position_vat_total);
      total += position_total;
      vat_total += position_vat_total;
    });
    $('#total').text(total);
    $('#vat-total').text(vat_total);
    var order = getCookie('order', true);
    var category = $(this).attr('category');
    var equip_id = this.id.split('-')[1];
    order[category][equip_id]['count'] = this.value;
    setCookie('order', order);
    setCookie('changed', true);
  });

  /*$('.count').change(function() {
    var count = this.value;
    var id = this.id.split('-')[1];
    var price = Number($('#price-' + id).val());
    var vat_price = Number($('#vat-price-' + id).val());
    var eq_vat_total = Math.trunc(vat_price * count * 100) / 100;
    var total = Number($('#total').text());
    var vat_total = Number($('#vat-total').text());
    if ($('#vat-total-' + id).text() < eq_vat_total) {
      // if total raises
      $('#total').text((total+price).toFixed(2));
      $('#vat-total').text((vat_total+vat_price).toFixed(2));
    }
    else {
      // if total descends
      $('#total').text(total-price);
      $('#vat-total').text(vat_total-vat_price);
    }
    $('#vat-total-' + id).text(eq_vat_total);
    var order = getCookie('order', true);
    var category = $(this).attr('category');
    order[category][id]['count'] = this.value;
    setCookie('order', order);
    setCookie('changed', true);
  });*/

  function delete_equipment(btn) {
    var category = btn.id.split('-')[1];
    var equip_id = btn.id.split('-')[2];
    var order = getCookie('order', json=true);
    delete order[category][equip_id];
    if (JSON.stringify(order[category]) == '{}') delete order[category];
    deleteCookie('order', {path: '/'});
    setCookie('order', order);
    location.reload();
  }
</script>
{% endblock %}
