{% extends 'base.html' %}

{% block title %}SharxDC - Настройки{% endblock %}

{% block style %}
<style>
  #settings-block {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-55%, -50%);
  }
  .row {
    padding-bottom: 25px;
  }

  .setting-header {
    text-align: left;
  }
</style>
{% endblock %}

{% block content %}
<div class="container" style="height: 100%">
  {% include 'blocks/flashed_messages.html' %}
  <form method="post" id="settings-block">
    <div class="row">
      <div class="col-sm-6 setting-header">
        Ставка НДС (%)
      </div>
      <div class="col-sm-6">
        <input type="number" class="form-control" min="1" step="any" name="VAT" value="{{ settings.VAT }}">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 setting-header">
        Максимальное число свойств компонента
      </div>
      <div class="col-sm-6">
        <input type="number" class="form-control" min="1" step="any" name="MAX_COMPONENT_OPTIONS_COUNT" value="{{ settings.MAX_COMPONENT_OPTIONS_COUNT }}">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 setting-header">
        Текст сообщения о блокировке пользователя:
      </div>
      <div class="col-sm-6">
        <textarea name="BLOCKED_USER_EMAIL_TEXT" class="form-control" rows="3">{{ settings.BLOCKED_USER_EMAIL_TEXT }}</textarea>
      </div>
      <div class="whitespace-25"></div>
      <div style="text-align: center; width: 100%">
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
