{% extends 'base.html' %}
{% block title %}SharxDC Конфигуратор - Управление пользователями{% endblock %}

{% block content %}
  {% include 'blocks/flashed_messages.html' %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Имя пользователя</th>
        <th scope="col">Компания</th>
        <th scope="col">Подтвержден email</th>
        <th scope="col">Время последнего входа</th>
        <th scope="col">Редактировать</th>
        <th scope="col">Активен</th>
        <th scope="col" style="text-align: center;">Удалить</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{% if user.last_entry is none and not user.active %}<i class="fas fa-exclamation-triangle warning text_i" aria-hidden="true"></i>{% endif %}{{ user.username }}</td>
        <td>{{ user.name }} {{ user.surname }}</td>
        <td>{{ user.company }}</td>
        <td>{% if not user.verified %}Нет<br><a href="/resend_token/{{ user.email }}">Повторить отправку токена</a>{% else %}Да{% endif %}</td>
        <td>{% if user.last_entry is not none %}{{ user.last_entry.strftime('%a %d.%m.%Y %H:%M') }}{% endif %}</td>
        <!-- TODO: edit by modal, not another page -->
        <td><a href="/edit_user/{{ user.user_id }}">Редактировать</a></td>
        <td style="text-align: center;"><input type="checkbox" class="form-check-input" {% if user.active %} checked {% endif %} {% if user.user_id == my_id %} disabled {% endif %} onclick='window.location.assign("/block_user/{{ user.user_id }}")'/></td>
        <td style="text-align: center;{% if user.user_id == session['user_id'] %}cursor: not-allowed;{% endif %}"{% if user.user_id == session['user_id'] %}title="Невозможно удалить самого себя"{% endif %}><button {% if user.user_id == session['user_id'] %}disabled{% endif %} class="btn btn-link" onclick="delete_user({{ user.user_id }}, '{{ user.username }}');">Удалить</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block script %}
<script type="text/javascript">
  function delete_user(user_id, username) {
    if (user_id == {{ session['user_id'] }}) return;
    if (confirm('Вы уверены, что хотите удалить пользователя '+username+'?')) {
      location.href = '/delete_user/' + user_id;
    }
  }
</script>
{% endblock %}
